header {margin-bottom: 60px;}
.header-top {background:#17283c;}
.header-top .top-menu li {padding: 0 18px;}
.header-top .top-menu li a {color: white; text-decoration: none; text-transform: uppercase; font-size: 12px; font-weight: 600;}
.header-top .top-menu li a:hover {color: #FDD835;}
.header-top .top-menu li.active a {color: #FDD835;}
.header-top .dropdown-menu li a {color: #666; text-transform: none; font-weight: normal; font-size: 14px;}
.header-top .dropdown-menu li a:hover {color: red;}
.header-top .dropdown-menu li {padding: 0 30px;}
.header-top .dropdown-menu.show {display: block; border:none; top: 43px!important;}

.header-top .top-info li {padding: 0 14px; position: relative;}
.header-top .top-info .dropdown-toggle::after {content: none;}
.header-top .top-info .dropdown-menu li a {text-decoration: none; text-transform: uppercase; font-size: 12px; font-weight: 600;}
.header-top .top-info .dropdown-menu  {width: 200px;}
.header-top .top-info .dropdown-menu .dropdown-divider {opacity: 0.3;}
.header-top .top-info .dropdown-menu li a i {
    min-width: 14px;
    text-align: center;
    color: #9c9c9c;
    vertical-align: middle;
    font-size: 14px;
    margin-right: 10px;
}
.header-top .wishlist-icon {background-position: -30px -60px!important;}
.header-top .wishlist-icon:hover {background-position: -90px -60px!important;}
.header-top .wishlist-icon {
    width: 25px;
    height: 22px;
    background: url(img/icon.png);
    vertical-align: middle;
    display: inline-block;
}
.header-bottom .phone-icon {background-position: 0px 0px!important;}
.header-bottom .phone-icon {
    width: 28px;
    height: 28px;
    min-width: 28px;
    display: inline-block;
    margin-left: 0;
    margin-right: 15px;
    background: url(img/icon.png);
    vertical-align: middle;
}
.header-top .shopping-cart-icon {background-position: -27px 0!important;}
.header-top .shopping-cart-icon:hover {background-position: -81px 0!important;}
.header-top .shopping-cart-icon {
    width: 22px;
    height: 22px;
    background-image: url(img/icon-cart.png);
    vertical-align: middle;
    display: inline-block;
}
.header-top .account-icon {background-position: -26px -87px!important;}
.header-top .account-icon:hover {background-position: -52px -87px!important;}
.header-top .account-icon {
    width: 21px;
    height: 21px;
    background: url(img/icon.png);
    vertical-align: middle;
    display: inline-block;
}
.header-top .header-cart .cart-products-count {
    background: #000;
    display: inline-block;
    text-align: center;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    min-width: 19px;
    height: 19px;
    line-height: 19px;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.header-bottom .search-wrapper {position: relative;}
.header-bottom .search-wrapper button {position: absolute; right: 0px; top: 4px; color: #dd1515; border: none;}
.header-bottom .search-wrapper button:hover {color: red;}
.header-bottom .search-wrapper input.form-control {
    height: 46px;
    background-image: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D);
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    border: none;
    border-radius: inherit;
    width: 100%;
}
.header-bottom .phone-wrapper {
    padding: 0 16px 0 12px;
    background: #fff;
    height: 46px;
    min-width: 200px;
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
}
.header-bottom .phone-wrapper .phone-number {
    margin-bottom: 0px;
    color: #222;
    font-size: 16px;
    font-weight: bold;
}
.header-bottom .phone-wrapper .phone-info {font-size: 12px; margin-bottom: 0px; color: grey;}
.header-bottom {background:#193558;}
.header-bottom .vertical-menu-wrapper {position: relative;}
.header-bottom .vertical-menu {background: white;}
.header-bottom .vertical-menu:hover {background: #FDD835;}
.header-bottom .vertical-menu .menu-title {min-width: 270px; cursor: pointer; font-weight: 600;}
.header-bottom .vertical-menu .menu-title i {margin: 0 15px; vertical-align: middle;}
.header-bottom .vertical-menu .menu.level1 {
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 270px;
    z-index: 999;
    background: #193457;
    top: calc(100% + 15px);
    display: none;
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 10px 10px 10px rgb(0 0 0 / 35%);
    -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.35);
    -ms-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.35);
    -o-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.35);
    box-shadow: 10px 10px 10px rgb(0 0 0 / 35%);
}
.header-bottom .vertical-menu .menu.level1:before {
    border-color: transparent transparent #FDD835;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: 0 22px 12px 22px;
    top: -12px;
    left: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.header-bottom .vertical-menu .menu.level1 .menu-divider {
    height: 0;
    margin: 0;
    overflow: hidden;
    border-top: 1px solid;
    color: white;
    opacity: 0.2;
}
.header-bottom .vertical-menu .menu.level1 > li > a {color: #fff;}
.header-bottom .vertical-menu .menu.level1 > li > a:hover {color: #FDD835;}
.header-bottom .vertical-menu .menu.level1 > li > a::before {visibility: hidden; opacity: 0;}
.header-bottom .vertical-menu .menu.level1 > li > a.active::before {
    border-color: transparent transparent #FDD835;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: 0 22px 12px 22px;
    right: -28px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    transform: rotate(90deg);
    visibility: visible;
    opacity: 1;
}
.header-bottom .vertical-menu .menu > li > a {
    font-family: Roboto, sans-serif;
    text-decoration: none;
    font-size: 14px;
    display: block;
    position: relative;
    padding: 25px 0 25px 65px;
    font-weight: 500;
}
.header-bottom .vertical-menu > .menu > .item > a img {
    position: absolute;
    width: 24px;
    height: 25px;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.header-bottom .vertical-menu .menu-title span {
    height: 46px;
    line-height: 46px;
    border-left: 1px solid #edecec;
    padding-left: 15px;
    display: inline-block;
    font-size: 12px;
}
.header-bottom .vertical-menu .dropdown-menu {
    width:calc(300px + 10px);
    left: 273px;
    top: 0;
    padding-left: 10px;
    margin-top: 0;
    border: none;
    position: absolute;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    display: block;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
.header-bottom .vertical-menu .dropdown-menu > ul {
    list-style: none;
    padding: 4px 20px 4px;
    background-color: #fff !important;
    -webkit-box-shadow: 0 0 7px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 7px rgb(0 0 0 / 15%);
    min-height: 100%;
}
.header-bottom .vertical-menu .dropdown-menu ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 20px 0 20px 50px;
    position: relative;
    color: #848484;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-bottom .vertical-menu .dropdown-menu ul li > a img {
    position: absolute;
    width: 24px;
    height: 25px;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.header-bottom .vertical-menu .dropdown-menu ul li a:hover {color:red;}
.header-bottom .vertical-menu .dropdown-menu .menu-divider {color:grey!important; opacity: 0.1!important;}
.show-menu {display: block!important;}
#mainCarousel {max-width: 1890px; margin: 0 auto;}
/* Custom container size, 1240px */
@media (min-width: 1200px) {
    .container{
        max-width: 1240px;
    }
}